.media-player {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
}

.progress-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.progress-bar {
    flex-grow: 1;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 0 10px;
    overflow: hidden;
}

